@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: 90px;
}

.App-header {
  background-color: rgb(5, 58, 138);
  height: 110px;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 2.0em;
  padding: 40px;
  color: rgb(230, 230, 230);
}

.App-intro {
  font-size: large;
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
